[user]
	email = bana.titech@gmail.com
	name = bana
[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an]     %Cgreen%d%Creset %s\" --all --date=short
    st = status
    stt = status -uno
    cm = commit
    ch = checkout
    wdiff = diff --word-diff
    acm = !git add -A && git commit -m

[merge]
	ff = false
[pull]
	ff = only
