[core]
	excludesfile = /Users/tachibana/.gitignore_global
	editor = code --wait
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = tachibana
	email = tachibana@miubiq.cs.titech.ac.jp
[commit]
	template = /Users/tachibana/.stCommitMsg
[merge]
	ff = false
[pull]
	ff = only
[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an]     %Cgreen%d%Creset %s\" --all --date=short
    st = status
    stt = status -uno
    cm = commit
    ch = checkout
    wdiff = diff --word-diff
	acm = !git add -A && git commit -m
