[user]
	email = bana.titech@gmail.com
	name = bana
[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-wincred.exe
[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an]     %Cgreen%d%Creset %s\" --all --date=short
    st = status
    stt = status -uno
    cm = commit
    ch = checkout
    wdiff = diff --word-diff
    acm = !git add -A && git commit -m
    bdel = !"f(){ git branch --delete $1 && git push --delete origin $1;};f"
    bcleanl = !"git branch | grep -v master | xargs git branch --delete"
    bcleanr = !"git branch -r | grep origin | grep -v master | sed -e 's/^.*origin\\///g' | xargs git push -d origin"
[merge]
	ff = false
[pull]
	ff = only
